{
	"project_id": "infra-0001",
	"source_image_family": "ubuntu-1604-lts",
	"machine_type": "f1-micro",
	"disk_type": "pd-ssd",
	"image_description": "image descriptions",
	"ssh_username": "test username",
	"tags": ""
}
